.timetable-container {
    position: relative;
    overflow: hidden;
}

.timetable {
    display: block;
    position: relative;
    width: 100%;
}

.time-slot {
    font-size: 12px;
    padding: 5px;
    background: #f9f9f9;
}

.event {
    font-size: 12px;
    color: #000;
    display: block;
}

.content-column {
    display: inline-block;
    width: 14.2857%;
    vertical-align: top;
    border-right: 1px solid #ccc;
    padding: 0;
    margin: 0;
}

.time-slot-column {
    display: block;
    position: relative;
    width: 10%;
    height: 100%;
    border-right: 1px solid #ccc;
    padding: 0;
    margin: 0;
}

.content-box {
    position: relative;
    width: 80%;
    left: 20%;
    border: #000 1px solid;
    height: 100%;
    overflow: hidden;
}